.signupform
{
    margin-top: 61px;
}
.signupform video
{
    object-fit: cover;
    top: 0;
    left: 0;
    position: absolute;height: 100%;width: 100%;
    z-index: -1;
}
.signup_container
{
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    height: 500px;
    width: 500px;
    background-color: rgba(158, 147, 147, 0.1);
    margin-left: 30%;
    margin-top: 350px;
}
.signup_container h2
{
    font-family: Lyon;
    font-weight: 700;
    font-style: normal;
    color: ghostwhite;
    font-size: 2.625rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.signup_content input{
    border: 1px solid #0d3f5e;
    display: flex;
    width: 70%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff
}
.signup_btn{
    background-color: #0a8552;
    border: 1px solid #0a8552;
    color: white;
    padding: 20px;
    border-radius: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size:23px;
    cursor: pointer;
}
.signup_btn:hover{
    transform: scale(1.1);
    transition: all .3s ease;
    text-transform: uppercase;
}
.signup_container  h4{
    margin-left: 40%;
    margin-top: -12%;

}
.loginsignup 
{
    font-weight: bold;
    font-size: px;
    cursor: pointer;
}
.loginsignup :hover{
    transform: scale(1.2);
    text-transform: uppercase;
}